* {
    font-weight: bold;
}

p {
    color: green;
}

h3 {
    text-decoration: overline;
}

#parrafo {
    font-size: 40px;
}

.parrafo1 {
    font-size: 30px;
    color: blue;
    text-decoration: none;
}

.parrafo2 {
    font-size: 20px;
    color: blue;
}

.mainmenubtn {
    background-color: blueviolet;
    color: bisque;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 25px;
}

.mainmenubtn:hover {
    background-color: aqua;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 200px;
}

.dropdown-child a, p {
    color: #2A680D;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}

.dropdown-child button {
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}
